:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.animated-route {
  stroke-dasharray: 10;
  animation: dashmove 2s linear infinite;
}

@keyframes dashmove {
  to {
    stroke-dashoffset: -20;
  }
}

.leaflet-routing-container {
  display: none;
}